<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Welcome <%= @user.email %>, </h1>
    <p>
        You have successfully signed up to MusicApp!
        Please activate your account by visiting this link:
        <a href="<%= activate_users_url(activation_token: @user.activation_token) %>">Activate</a>
    </p>

    <p>
        If you can't click the link, copy and paste this URL into your browser:
        <%= activate_users_url(activation_token: @user.activation_token) %>
    </p>

    <p>
        Thanks for joining and let's ROCK together!
    </p>
</body>
</html>