<h2 class='page-header'>Sign-in</h2>

<a class='button' href="<%= new_user_url %>">Go to Sign-up!</a>

<form action="<%= session_url %>" method="post">
    <%= auth_token %>

    <p>
        <label for="new-user-email">Email</label>
        <input type="text" name="user[email]" id="new-user-email">
    </p>

    <p>
        <label for="new-user-password">Password</label>
        <input type="text" name="user[password]" id="new-user-password">
    </p>

    <input type="submit">
</form>