<h4 class='sub-header'>New Note</h4>

<form class='form' action="<%= notes_url %>" method="post">
    <%= auth_token %>

    <input type="hidden" name="note[track_id]" value="<%= track.id %>">

    <p>
        <label for="note_content">Content</label>
        <textarea id="note_content"
            cols="40" rows="30"
            name="note[content]"></textarea> 
    </p>

    <input type="submit">
</form>