<div class='note-item'>
    <p><%= note.content %></p>
    <div class='note-item-info'>
        <p>Authored by: <%= note.user.email %></p>

        <% if note.user_id == current_user_id %>
            <form action="<%= note_url(note) %>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <%= auth_token %>
                <input type="submit" value="Destroy Note">
            </form>
        <% end %>
    </div>
</div>